.card {
    float: left;
    width: 33.333%;
    padding: 10px;

    & > div {
        padding: 10px;
        background: #FFF;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
        height: 100%;
    }

    .tree {
        display: flex;
        flex-direction: column;
        text-align: center;

        .tree-row {
            display: inline-block;
        }
    }
    
    .info {
        position: absolute;
        bottom: 0;
    }
}